[user]
	email = stevecain7@gmail.com
	name = Steve Cain
[core]
  editor = vim
[merge]
  conflictstyle = diff3
[alias]
  a = add
  br = branch
  co = checkout
  d = diff
  l = log --oneline --decorate --all --graph
  s = status --short
